/* -------------- BASE -------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    color: #494949;
}

body {
    margin: 1rem;
}

.main {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

/* -------------- CONTENT -------------- */
.content {
    width: 70%;
    margin-top: 0.5rem;
}

.content .hr {
    border-top: 1px solid #DA2B2B;
    margin-bottom: 1rem;
}

/* option panel */
.option__panel {
    width: 100%;
}

.add__task:hover {
    text-decoration: underline;
}

.options {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

/* dropdown menu */
.dropbtn {
    color: #494949;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    right: 0px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: #494949;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* sort */
.block__sort:hover {
    cursor: pointer;
}

.block__sort:hover .dropdown-content {
    display: block;
}

.img__sort {
    width: 20px;
}


/* tasks */
.tasks {
    width: 100%;
    margin-top: 1rem;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: .7rem;
    margin-bottom: .7rem;
    width: 100%;
    border-radius: 20px;
    transition: .5s;
}

.task:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.001) translateZ(0);
}

.task__high {
    border: 3px solid #892222;
    background-color: #FFADAD;
}

.task__normal {
    border: 3px solid #896022;
    background-color: #FFDEAD;
}

.task__low {
    border: 3px solid #222D89;
    background-color: #ADC4FF;
}

.task__done {
    border: 3px solid #395B3D;
    background-color: #73FC70;
}

.theme__task {
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 20px;
}

.description__task {
    font-size: 16px;
}

.date__task {
    font-size: 20px;
}

/* -------------- SIDE PANEL -------------- */
.side-panel {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* calendar */
.calendar {
    width: 80%;
    text-align: center;
}

.calendar-header {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}

#currentMonth {
    text-transform: capitalize;
}

.month__buttons {
    margin-left: 2rem;
}

.calendar-table th,
.calendar-table td {
    padding: 10px;
}

.weekend {
    font-weight: bold;
    color: #DA2B2B;
}

.other-month {
    color: #999;
}

/* other */
.other {
    width: 80%;
    margin-top: 1rem;
    padding: 1rem;
    border: 2px solid #494949;
    border-radius: 20px;
}

/* today */
.today {
    display: flex;
    padding-bottom: 0.6rem;
    border-bottom: 2px solid #494949;
}

.today-img {
    width: 45px;
    height: 50px;
    margin: auto 0;
}

.details__today {
    margin-left: 1rem;
}

.details__today h3 {
    font-size: 24px;
}

.details__today p {
    font-size: 18px;
}

/* folders */
.add__folder {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
}

.add__folder:hover {
    cursor: pointer;
}

.folder {
    display: flex;
    margin: 1rem 0;
}

.folder:hover {
    cursor: pointer;
}

.folder h4 {
    margin-left: 0.5rem;
    padding-top: 0.5rem;
}

/* -------------- TASK -------------- */

.task__section {
    width: 100%;
}

.title__block {
    width: 100%;
}

.title__block .line {
    border-top: 1px solid #DA2B2B;
    margin-bottom: 1rem;
}

.title {
    margin: 0.5rem 1rem;
    font-size: 32px;
    font-weight: 700;
}

.subtask__block {
    padding: 1rem;
    width: 100%;
    border: 1px solid #494949;
    border-radius: 10px;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
}

.form-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.form-list form {
    width: 35%;
}

.theme-description {
    display: flex;
    flex-direction: column;
}

.theme-description input[type="text"], .theme-description textarea {
    border: 1px solid #494949;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0.5rem;
}

.theme-description textarea {
    resize: none;
    min-height: 150px;
    height: 100%;
}

.cancel {
    width: 50%;
    border: 3px solid #808080;
    background-color: #D9D9D9 !important;
    border-radius: 10px;
    padding: 5px;
}

.cancel_ok {
    border: 3px solid #808080;
    background-color: #D9D9D9 !important;
    border-radius: 10px;
    padding: 5px;
}

.task__list {
    width: 100%;
    margin-left: 2rem;
}

.task__list .task__item {
    display: flex;
}

.details__task {
    display: flex;
    flex-direction: column;
}

.task__item form {
    margin: auto 0;
}

.ok {
    padding: 10px;
    margin-left: .5rem;
    background-color: #73FC70 !important;
    border: 3px solid #395B3D;
    border-radius: 10px;
}

.ok:hover, .cancel:hover, .cancel_ok:hover {
    cursor: pointer;
}

.task__block {
    margin-top: 1rem;
}

.theme-description-priority {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.priority-date {
    width: 100%;
    margin-left: 1rem;
}

.task-priority {
    padding: 1rem;
    border: 1px solid #494949;
    border-radius: 10px;
}

.radio__priority {
    display: flex;
}

.radio__priority input[type="radio"] {
    margin-right: 0.5rem;
}

.form {
    width: 35%;
}

.date {
    margin-top: 0.5rem;
}

.date input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #494949;
    border-radius: 10px;
}

.progress-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.progress {
    width: 100%;
    margin-right: 2rem;
    padding: 1rem;
    border: 1px solid #494949;
    border-radius: 10px;
}

.progress progress {
    margin-top: 1rem;
    width: 100%;
    border: 0;
    border-radius: 10px;
}

.progress progress[value]::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 40px;
}

.progress progress[value]::-webkit-progress-value {
    border-radius: 40px;
    background-color: #73FC70;
}

.block-buttons {
    margin-top: 1rem;
}

.buttons {
    margin-top: auto;
    display: flex;
    justify-content: right;
}

.delete {
    padding: 10px;
    background-color: #FFADAD;
    border: 3px solid #892222;
    border-radius: 10px;
}

.delete:hover {
    cursor: pointer;
}

.subtask:hover {
    cursor: default;
    transform: none;
}

/* -------------- FOLDER -------------- */

.folder-img {
    margin: 1rem auto;
    width: 40%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.options-tasks {
    width: 100%; 
    margin-left: 2rem;
}

.folder-tasks {
    width: 100%;
}

.center {
    justify-content: center;
}

/* -------------- PROFILE -------------- */

.profile {
    width: 30%;
    margin-right: 2rem;
}

.profile-img {
    justify-content: center;
    width: 100%;
}

.username {
    font-size: 32px;
    text-align: center;
    margin-bottom: 1rem;
}

.email {
    text-align: center;
}

.login {
    width: 30%;
    margin: 0 auto;
}

.user-login-details {
    width: 100%;
}

.user-login-details form {
    width: 100%;
}

.input_username, .input_email, .input_password {
    width: 100%;
    border: 1px solid #494949;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0.5rem;
}

.input_password {
    margin-bottom: 2rem;
}

.login_input {
    width: 100%;
}

.login-img {
    display: block;
    margin: 1rem auto;
    width: 50%;
}