@media (max-width: 1100px) {
    .main {
        flex-direction: column-reverse;
    }

    .content {
        width: 100%;
    }

    .side-panel {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem auto;
    }

    .calendar, .other {
        width: 30%;
    }
}

@media (max-width: 800px) {
    .calendar {
        width: 50%;
    }

    .other {
        width: 40%;
    }

    .today-img {
        width: 30px;
        height: 35px;
    }

    .details__today h3 {
        font-size: 18px;
    }

    .details__today p {
        font-size: 14px;
    }

    .date__task {
        font-size: 16px;
    }

    .ok, .delete {
        font-size: 16px;
        padding: 5px;
    }

    .description__task {
        display: none;
    }
}

@media (max-width: 600px) {
    .side-panel {
        width: 100%;
        flex-direction: column;
    }

    .calendar, .other {
        width: 100%;
    }

    .date__task {
        font-size: 14px;
    }

    .progress {
        width: 60%;
    }

    .form-list, .theme-description-priority, .progress-buttons {
        flex-direction: column;
    }

    .form-list > form {
        width: 100%;
        margin: 1rem auto;
    }

    .task__list {
        width: 100%;
        margin: 0 auto;
    }

    .theme-description, .priority-date, .progress {
        width: 100%;
    }

    .buttons {
        margin: 1rem auto;
    }
}

@media (max-width: 400px) {
    .option__panel, .dropbtn {
        font-size: 12px;
    }

    .img__sort {
        width: 15px;
        height: 15px;
    }

    .options {
        margin: 0;
    }

    .calendar, .other {
        width: 100%;
    }

    .description__task {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .calendar-table {
        font-size: 12px;
    }
}