.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #212121;
}

.heading-design {
    border-top: 4px solid #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    padding: 1rem;
    transition: background-color 0.5s ease;
}

.heading-design:hover {
    background-color: #dadada;
}

.heading-prog {
    border-top: 4px solid #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    padding: 1rem;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.heading-prog:hover {
    color: #eeeeee;
    background-color: #dadada;
}

.heading-music {
    cursor: pointer;
    background-color: #fff;
    border-bottom: solid 1px #212121;
    padding: 2rem;
    transition: background-color 0.5s ease;
}

.heading-music:hover {
    background-color: #ff6f61;
    border-bottom: solid 1px #ff6f61;
}

.tab-content {
    display: none;
}

.left-content {
    padding-left: 4rem;
    padding-top: 4rem;
    font-size: 3.75rem;
}

.right-content {
    padding-left: 4rem;
    padding-top: 4rem;
}

.img-custwidth {
    padding-top: 4rem;
    width: 512px;
}

.tab-active {
    display: block;
}

.link-active {
    border-top: 4px solid #ffba61;
}

.subtask__block {
    margin-top: 1rem;
}